@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    margin: 0;
    background-color: #F0F0EA;
    color:#151516;
}

a {
    color: #151516;
}

nav {
    @apply flex gap-4;
}
nav a {
    @apply font-bold p-2 rounded hover:bg-gray-200 border-[1px] border-gray-300;
}